In [2]:
# import sqlite3 package
import sqlite3

In [14]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [22]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
                CREATE Table classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );
"""
drop_table = """
DROP TABLE classroom;
"""
cursor.execute(create_table)
# cursor.execute(drop_table)
#cursor.execute("select * from classroom")
connection.commit()
connection.close()

In [23]:
# sample data
classroom_data = [( 1, "Raj","M", 70, 84, 92),
                  ( 2, "Poonam","F", 87, 69, 93),
                  ( 3, "Nik","M", 65, 83, 90),
                  ( 4, "Rahul","F", 83, 76, 89)]
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom 
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES 
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

In [24]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
# close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

# My sql database

## install package

In [25]:
!conda install -y -q pymysql

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Nadav\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-0.8.0              |           py36_0         130 KB

The following NEW packages will be INSTALLED:

    pymysql: 0.8.0-py36_0

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 4.4.10
  latest version: 4.5.0

Please update conda by running

    $ conda update -n base conda

In [26]:
#import package
import pymysql

### connect to database

In [29]:
# Connection details

cnx= {'host': 'titanic.cr4famdwl9cg.us-west-2.rds.amazonaws.com',
      'username': 'username',
      'password': 'password',
      'db': 'titanicDB'}       
        

# Connect to the database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )

# close database
connection.close()

### create table

In [30]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
              );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

### insert data

In [31]:
# sample data
classroom_data = [( 1, "Raj","M", 70, 84, 92),
                  ( 2, "Poonam","F", 87, 69, 93),
                  ( 3, "Nik","M", 65, 83, 90),
                  ( 4, "Rahul","F", 83, 76, 89)]
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom 
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES 
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

### Extract data

In [32]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
# close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

## MS SQL Database

In [34]:
!conda install -y -q pymssql

Solving environment: ...working... failed

UnsatisfiableError: The following specifications were found to be in conflict:
  - pymssql
  - zict
Use "conda info <package>" to see the dependencies for each package.

In [35]:
import pymssql

ModuleNotFoundError: No module named 'pymssql'

In [36]:
!conda info pymssql

pymssql 2.1.3 py27_0
--------------------
file name   : pymssql-2.1.3-py27_0.tar.bz2
name        : pymssql
version     : 2.1.3
build string: py27_0
build number: 0
channel     : https://repo.continuum.io/pkgs/free/win-64
size        : 310 KB
arch        : x86_64
constrains  : ()
date        : 2016-09-06
license     : GNU Library or Lesser General Public License (LGPL)
license_family: LGPL
md5         : 4ed1b401ce9d7628837778d8a17e83b5
platform    : win32
subdir      : win-64
url         : https://repo.continuum.io/pkgs/free/win-64/pymssql-2.1.3-py27_0.tar.bz2
dependencies:
    freetds >=1.00.9
    python 2.7*

pymssql 2.1.3 py34_0
--------------------
file name   : pymssql-2.1.3-py34_0.tar.bz2
name        : pymssql
version     : 2.1.3
build string: py34_0
build number: 0
channel     : https://repo.continuum.io/pkgs/free/win-64
size        : 306 KB
arch        : x86_64
constrains  : ()
date        : 2016-09-06
license     : GNU Library or Lesser General Public License (LGPL)
license_family: LGPL
md5         : 352040536650d2d87507d48b9309953e
platform    : win32
subdir      : win-64
url         : https://repo.continuum.io/pkgs/free/win-64/pymssql-2.1.3-py34_0.tar.bz2
dependencies:
    freetds >=1.00.9
    python 3.4*

pymssql 2.1.3 py35_0
--------------------
file name   : pymssql-2.1.3-py35_0.tar.bz2
name        : pymssql
version     : 2.1.3
build string: py35_0
build number: 0
channel     : https://repo.continuum.io/pkgs/free/win-64
size        : 301 KB
arch        : x86_64
constrains  : ()
date        : 2016-09-06
license     : GNU Library or Lesser General Public License (LGPL)
license_family: LGPL
md5         : a8c9fa5a8268ad197a6cb4d763e810f6
platform    : win32
subdir      : win-64
url         : https://repo.continuum.io/pkgs/free/win-64/pymssql-2.1.3-py35_0.tar.bz2
dependencies:
    freetds >=1.00.9
    python 3.5*